h2(style="text-align:center;") Dress to impress and get ready for drinks and dancing.
h2 Details:
ul.pointless 
    li We're sorry to leave your little ones out but its over 18s only.
    li Have some tea (dinner) before you come as we wont be serving food.
    li We don't expect any gifts, so please keep your generosity in check.
h2 RSVP: 
p Please RSVP by 1st of December 2023