h2(style="text-align:center;") Dress to impress and get ready for drinks and dancing.
h2 Details:
ul.pointless 
    li Our legal ceremony is taking place few days before with immediate family only, so this our chance to celebrate with all of you.
    li We're sorry to leave your little ones out but its over 18s only.
    li Have some tea (dinner) before you come as we wont be serving food.
    li We don't expect any gifts, so please keep your generosity in check.
h2 RSVP: 
p Please RSVP to <a href="mailto:jandjsweddingtheemail@gmail.com" class="wrap">jandjsweddingtheemail@gmail.com</a>
p.large Please include the names of people who can or can not attend. 
p.large Please also let us know if you need any help with travel or accomodation.
img(src="/images/couple.jpg" alt="A kiss").kiss
