extends layout

block content
  h1= "Welcome to Jenny and James' wedding party invite"
  .container 
    div 
      img(src="/images/me.jpg" alt="A boy")
    div 
      p We are so pleased to invite everyone to our wedding
  .container
    div 
      p Here are the details 
      p Where: 
      p When 
      p Contact
    div 
      img(src="/images/jenny.jpg" alt="A girl")