doctype html
html
  head
    title= "Welcome to your wedding invite"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='/images/download.png', type='image/x-icon') 
  body
    block content
